@media (max-width: 700px) {
	#navbarSupportedContent{
		margin-top: 25px;
	}

	#navbarSupportedContent ul li{
		margin-bottom: 10px;
		margin-left: 0;
		text-align: center;
	}
	#navbarSupportedContent ul li a{
		margin-left: 0;
	}


	.sea > .sea_sub{
		padding-left: 15px;
	}

	.dev > .icon{
		margin-bottom: 8px;
		display: flex;
		justify-content: center;
	}

	.dev > .icon_1{
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.gear{
		display: none;
	}
	
	.culture p {
	    font-size: 12px;
	    text-overflow: ellipsis;
	    overflow: hidden;
			display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      box-orient: vertical;
			line-clamp: 4;
      -webkit-line-clamp: 6;
	}
	
	.client{
	    flex-direction: column;
	}
	
	.cl_circle{
	    margin-right: 0;
	    margin-bottom: 25px;
	    width: 150px;
	    height: 150px;
	}
	
	.comment{
	    padding: 20px;
	    width:unset;
	}

	.contact h2{
		text-align: center;
	}

}

/*==================*/

